<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src={{user?.photoURL}}>
              <mat-card-title>Logged in as {{user?.email}}</mat-card-title>
            </mat-card-header>
          </mat-card>
          <div class="card-body">
            <form [formGroup]="editProfileForm" (ngSubmit)="updateProfile()" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <mat-label>Username: </mat-label>
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="userName" value={{user?.displayName}}>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-label>Email: </mat-label>
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" value={{user?.email}} disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-label>Photo URL: </mat-label>
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="imageUrl" value={{user?.photoURL}}>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-success pull-right mr-2">Update Profile</button>
              <button mat-raised-button class="btn btn-danger pull-right mr-2" (click)="logout()">Logout</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>