<!-- Footer -->
<footer class="page-footer font-small pt-4">
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center social-icons">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f pr-4"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-instagram mx-1" href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram pr-4"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-github mx-1" href="https://github.com/StefanLB" target="_blank">
          <i class="fab fa-github pr-4"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin-in pr-4"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-pinterest mx-1" href="https://www.pinterest.com/" target="_blank">
          <i class="fab fa-pinterest"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <p>SoftUni Front-End Frameworks - Angular</p>
      <p><a routerLinkActive="active" routerLink="/about">About |</a><a routerLinkActive="active" routerLink="/contact"> Contact Us</a></p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer --> 