.about-us-container {
    padding: 25px 40px 0;
  }

  .about-us {
    margin: auto;
    width: 50%;
  }
  
  .about-header-image {
    background-image: url('../../assets/gavelIcon.png');
    background-size: cover;
  }

  .piper {
      color: red;
      font-weight:bold;
  }