<p>register works!</p>
<div class="authBlock">
    <h3>Sign Up</h3>
    <div class="formGroup">
      <input type="text" class="formControl" placeholder="Username" #userEmail required>
    </div>
    <div class="formGroup">
      <input type="password" class="formControl" placeholder="Password" #userPassword required>
    </div>
    <!-- Calling SignIn Api from AuthenticationService -->
    <div class="formGroup">
      <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPassword.value)">
    </div>
 </div>