<app-nav></app-nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link" routerLink="/add-bid" routerLinkActive="active">
              <i class="fas fa-plus"></i>Add Bid
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/all-bids" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>All Bids
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <router-outlet></router-outlet>

      </div>
    </main>

  </div>
</div>

<app-footer></app-footer>