<app-nav></app-nav>

<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav *ngIf="user" #sidenav [mode]="'side'" [opened]="'true'" [fixedInViewport]="false" [fixedTopGap]>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/bids">
                <mat-icon>format_list_bulleted</mat-icon>
                <h4 mat-line *ngIf="isExpanded">All Bids</h4>
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/bids/add">
                <mat-icon>add</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Add Bid</h4>
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/user/bids/created">
                <mat-icon>gavel</mat-icon>
                <h4 mat-line *ngIf="isExpanded">My Bids</h4>
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/user/bids/placed">
                <mat-icon>money</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Placed Bids</h4>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLinkActive="active" routerLink="/about">
                <mat-icon>info</mat-icon>
                <h4 mat-line *ngIf="isExpanded">About</h4>
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/contact">
                <mat-icon>dialer_sip</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Contact Us</h4>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>