<div class="contact-container"></div>
<mat-card class="contact-us">
    <mat-card-header>
        <div mat-card-avatar class="contact-header-image"></div>
        <mat-card-title>Contact Us</mat-card-title>
        <mat-card-subtitle>Below are our contact details</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/contact.PNG" alt="contact">
    <mat-card-content>
        <p class="contact-info">
            <mat-icon>phone</mat-icon> <span class="contactInfo">+359 888 123 456</span>
            <mat-divider></mat-divider>
        </p>
        <p class="contact-info">
            <mat-icon>email</mat-icon> <span class="contactInfo"> <a href="mailto:info@biddingwars.com">info@biddingwars.com</a></span>
            <mat-divider></mat-divider>
        </p>
        <p class="contact-info">
            <mat-icon>my_location</mat-icon> <span class="contactInfo"> <a href="https://en.wikipedia.org/wiki/Area_51">37°14′0″N 115°48′30″W</a>, Nevada, United States</span>
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>