.contact-us {
    margin: auto;
    width: 50%;
  }
  
  .contact-header-image {
    background-image: url('../../assets/gavelIcon.png');
    background-size: cover;
  }

p {
  padding-top: 20px;
}

mat-icon {
  margin: auto;
}