.contact-container {
  padding: 25px 40px 0;
}

.contact-us {
    margin: auto;
    width: 50%;
  }
  
  .contact-header-image {
    background-image: url('../../assets/gavelIcon.png');
    background-size: cover;
  }

p {
  padding-top: 20px;
}

mat-icon {
  margin: auto;
}

.contactInfo {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}