.example-card {
  max-width: 400px;
  margin: auto;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.header-divider {
    margin-bottom: 20px;
}

.header {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.hover-link {
    color: #3f51b5;
    cursor: pointer;
}