<mat-toolbar color="primary" class="fixed-top">
  <mat-toolbar-row>
    <img src="../assets/logo.png" routerLink="/">
    <button mat-button routerLink="/">Bidding Wars</button>

    <span class="spacer"></span>
    <button mat-button routerLink="/bids">Home</button>
    <button *ngIf="!user" mat-button routerLink="/login">Login</button>
    <button *ngIf="!user" mat-button routerLink="/register">Register</button>
    <button *ngIf="user" mat-button routerLink="/profile">Profile</button>
    <button *ngIf="user" mat-button routerLink="/logout" (click)="logout()">Logout</button>

  </mat-toolbar-row>
</mat-toolbar>