img{
    background-image: url("../../../assets/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 64px;
    height: 64px;
}

button {
    font-size: 20px;
    font-weight: 600;
}