/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
    flex-grow: 1;
}

body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/background-image2.jpg');
    background-position: fill;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}